<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog web</title>
</head>
<body>
    <center><h1 style="background-color: rgb(75, 74, 74);padding-top: 20px;padding-bottom: 20px;color: white;"><strong>UPDATE A BLOG</strong></h1></center>
   <div style="padding-top: 60px;">
    <center>
    <form action="/updating" method="post">
        <textarea name="update" id="update" style="height: 300px;width: 400px;"><%=getvalue%></textarea>
        <center><button class="btn btn-secondary rounded-pill px-3" type="submit">Submit</button></center>
    </form></center></div> 
    <%- include("partials/footer.ejs")%>
</body>
</html>