<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog web</title>
</head>
<body>
    <center><p style="font-weight: 500;padding-top: 100px;font-size: larger;padding-left: 20px;padding-right: 20px;">
            <%=string%>
    </p>
    </center>
    <%- include("partials/footer.ejs")%>
</body>
</html>